include ../../components/paginated_list/index

mixin form-elements(items)
  each item in items
    label
      = _s.humanize(item.attr)
      if item.type == 'input'
        input.bordered-input( value=vertical.get(item.attr) name=item.attr )
      else if item.type == 'date'
        input.bordered-input(
          value=moment(vertical.get(item.attr)).format('MM/DD/YYYY')
          name=item.attr
        )
      else if item.type == 'textarea'
        textarea.bordered-input( name=item.attr )=vertical.get(item.attr)
      else if item.type == 'image'
        .verticals-image-placeholder( data-name=item.attr )

mixin featured-link(i)
  h3.admin-form-subheader Link #{i + 1}
  label
    | Thumbnail
    .verticals-image-placeholder(
      data-name="featured_links[#{i}][thumbnail_url]" data-index=i )
  label
    | Title
    input.bordered-input(
      name="featured_links[#{i}][title]"
      value=vertical.get('featured_links')[i].title
    )
  label
    | URL
    input.bordered-input(
      name="featured_links[#{i}][url]"
      value=vertical.get('featured_links')[i].url
    )

extend ../../components/layout/templates/index

block header
  | Verticals

block content
  .max-width-container
    form.admin-form-container(
      action=(vertical.isNew() ?  "/verticals" : "/verticals/#{vertical.get('id')}")
      method='post'
    )
      .admin-form-section
        .admin-form-left Vertical Details
        .admin-form-center
          +form-elements([
            { attr: 'title', type: 'input' },
            { attr: 'meta_title', type: 'input' },
            { attr: 'slug', type: 'input' },
            { attr: 'description', type: 'textarea' }
          ])
        .admin-form-right
          +form-elements([
            { attr: 'start_at', type: 'date' },
            { attr: 'end_at', type: 'date' },
            { attr: 'thumbnail_url', type: 'image' }
          ])
      .admin-form-section
        .admin-form-left Partner Logo
        .admin-form-center
          +form-elements([
            { attr: 'partner_logo_url', type: 'image' },
            { attr: 'partner_website_url', type: 'input' }
          ])
      .admin-form-section
        .admin-form-left Featured Links
        .admin-form-center
          +featured-link(0)
          +featured-link(1)
        .admin-form-right
          +featured-link(2)
          +featured-link(3)
      button.avant-garde-button.avant-garde-button-black.verticals-save(
        type='submit' href="/verticals/new"
      ) Save Changes
      unless vertical.isNew()
        a.avant-garde-button.verticals-delete Delete Vertical
