for user in users
  tr
    td
      img.contributors-icon( src=user.iconUrl() )
    td= user.get('user').name
    td= user.get('details').email
    td= user.get('details').type
    td.contributors-actions
      .contributors-actions-container
        a.avant-garde-button(
          href="/impersonate/#{user.get('id')}"
        ) Switch User
        a.avant-garde-button.avant-garde-button-external-link(
          href="http://admin.artsy.net/user/#{user.get('id')}"
          target='_blank'
        ) Admin