include ../../components/admin_form/index
extend ../../components/layout/templates/index

mixin featured-link(i)
  - link = linkSet.get('featured_links')[i]
  h3.admin-form-subheader Link #{i + 1}
  label
    | Thumbnail
    .admin-image-placeholder(
      data-name="featured_links[#{i}][thumbnail_url]" data-index=i )
  label
    | Title
    input.bordered-input(
      name="featured_links[#{i}][title]"
      value=link && link.title
    )
  label
    | URL
    input.bordered-input(
      name="featured_links[#{i}][url]"
      value=link && link.url
    )

block header
  | Link Set

block content
  - model = linkSet
  .max-width-container
    form.admin-form-container(
      action=(linkSet.isNew() ?  "/links" : "/links/#{linkSet.get('id')}")
      method='post'
    )
      section.admin-form-section
        .admin-form-left
          h1 Featured Links
          h2 A collection of links that can be used in various places such as the homepage and signups
        .admin-form-right
          +form-elements([
            { attr: 'title', type: 'input' },
            { attr: 'slug', type: 'input' }
          ])
          .admin-form-featured-links
            - links = linkSet.get('featured_links')
            each link, i in links
              +featured-link(i)
      button.avant-garde-button.avant-garde-button-black.admin-form-add-new-link Add New Link
      button.avant-garde-button.avant-garde-button-black.admin-form-save(
        type='submit' href="/links/new"
      ) Save Changes
      unless linkSet.isNew()
        a.avant-garde-button.admin-form-delete Delete Link Set
