#layout-sidebar-container
  nav#layout-sidebar
    a#layout-sidebar-home( href='/' )
      include ../public/icons/logo.svg
    a#layout-sidebar-new-article(
      href='/articles/new'
      class=(sd.URL == '/articles/new' ? 'is-active' : '')
    )
      include ../public/icons/layout_new_article.svg
      br
      | New Article
    a( href='/sortable_list'
       class=(sd.URL == '/sortable_list' ? 'is-active' : '') )
      include ../public/icons/layout_published.svg
      br
      | Articles
    if user.get('current_channel').type === 'editorial'
      a#layout-sidebar-queue( href='/queue'
         class=(sd.URL.match('/sections') ? 'is-active' : '') )
        include ../public/icons/layout_queue.svg
        br
        | Queue
    if user.get('type') == 'Admin'
      a( href='/sections'
         class=(sd.URL.match('/sections') ? 'is-active' : '') )
        include ../public/icons/layout_sections.svg
        br
        | Sections
    if user.get('type') == 'Admin'
      a( href='/settings'
         class=(sd.URL.match('/settings') ? 'is-active' : '') )
        include ../public/icons/layout_settings.svg
        br
        | Settings
    #layout-sidebar-profile
      include ../public/icons/layout_person.svg
      br
      if user.get('name')
        = user.get('name').split(' ')[0]

      - var hasChannelMenu = (user.get('channel_ids') && user.get('channel_ids').length > 1) || (user.get('partner_ids') && user.get('partner_ids').length > 1) || user.isAdmin()
      nav#layout-sidebar-profile-menu(class="#{ hasChannelMenu ? '' : 'has-only-child'}")
        a( href='/logout' ) Sign out
        if hasChannelMenu
          a#layout-sidebar-switch-channel Switch channel
