nav#layout-sidebar
  a#layout-sidebar-home( href='/' )
    include ../public/icons/layout_home.svg
    br
    | Artsy Writer
  a#layout-sidebar-new-article(
    href='/articles/new'
    class=(sd.URL == '/articles/new' ? 'is-active' : '')
  )
    include ../public/icons/layout_new_article.svg
    br
    | New Article
  a( href='/articles?published=false'
     class=(sd.URL == '/articles?published=false' ? 'is-active' : '') )
    include ../public/icons/layout_drafts.svg
    br
    | Drafts
  a( href='/articles?published=true'
     class=(sd.URL == '/articles?published=true' ? 'is-active' : '') )
    include ../public/icons/layout_published.svg
    br
    | Published
  a#layout-sidebar-help
    include ../public/icons/layout_help.svg
    br
    | Help
  #layout-sidebar-profile
    img( src=(user.get('profile').icon_url) )
    br
    = user.get('name').split(' ')[0]
    nav#layout-sidebar-profile-menu
      a( href=sd.FORCE_URL + '/' + user.get('profile').handle )
        | View profile on Artsy
      a( href='/logout' ) Sign out