#layout-sidebar-container
  nav#layout-sidebar
    a#layout-sidebar-home( href='/' )
      include ../public/icons/logo.svg
    a#layout-sidebar-new-article(
      href='/articles/new'
      class=(sd.URL == '/articles/new' ? 'is-active' : '')
    )
      include ../public/icons/layout_new_article.svg
      br
      | New Article
    a( href='/articles?published=false'
       class=(sd.URL == '/articles?published=false' ? 'is-active' : '') )
      include ../public/icons/layout_drafts.svg
      br
      | Drafts
    a( href='/articles?published=true'
       class=(sd.URL == '/articles?published=true' ? 'is-active' : '') )
      include ../public/icons/layout_published.svg
      br
      | Published
    if user.get('type') == 'Admin'
      a( href='/verticals'
         class=(sd.URL == '/verticals' ? 'is-active' : '') )
        include ../public/icons/layout_verticals.svg
        br
        | Verticals
      a( href='/organizations'
         class=(sd.URL == '/organizations' ? 'is-active' : '') )
        include ../public/icons/layout_organizations.svg
        br
        | Orgs
    #layout-sidebar-profile
      .layout-sidebar-profile-img(
        style="background-image: url(#{user.get('profile_icon_url')})" )
      br
      = user.get('name').split(' ')[0]
      nav#layout-sidebar-profile-menu
        a( href=sd.FORCE_URL + '/' + user.get('profile_handle') )
          | View profile on Artsy
        a( href='/logout' ) Sign out
        if user.get('type') == 'Admin'
          a#layout-sidebar-switch-user Switch user
