#layout-sidebar-container
  nav#layout-sidebar
    a#layout-sidebar-home( href='/' )
      include ../public/icons/logo.svg
    a#layout-sidebar-new-article(
      href='/articles/new'
      class=(sd.URL == '/articles/new' ? 'is-active' : '')
    )
      include ../public/icons/layout_new_article.svg
      br
      | New Article
    a( href='/articles?published=false'
       class=(sd.URL == '/articles?published=false' ? 'is-active' : '') )
      include ../public/icons/layout_drafts.svg
      br
      | Drafts
    a( href='/articles?published=true'
       class=(sd.URL == '/articles?published=true' ? 'is-active' : '') )
      include ../public/icons/layout_published.svg
      br
      | Published
    if user.get('type') == 'Admin'
      a( href='/sections'
         class=(sd.URL.match('/sections') ? 'is-active' : '') )
        include ../public/icons/layout_sections.svg
        br
        | Sections
    if user.get('type') == 'Admin'
      a( href='/links'
         class=(sd.URL.match('/links') ? 'is-active' : '') )
        include ../public/icons/layout_sections.svg
        br
        | Links
    #layout-sidebar-profile
      include ../public/icons/layout_person.svg
      br
      if user.get('name')
        = user.get('name').split(' ')[0]
      nav#layout-sidebar-profile-menu
        a( href='/logout' ) Sign out
        if user.get('type') == 'Admin'
          a#layout-sidebar-switch-user Switch user
