header#edit-header
  nav#edit-tabs
    a.avant-garde-button.is-active.edit-check Content
      include ../../../../components/layout/public/icons/check.svg
    a.avant-garde-button.edit-check Thumbnail View
      include ../../../../components/layout/public/icons/check.svg
    if user.get('details').type == 'Admin'
      a.avant-garde-button Admin
    a#edit-publish.avant-garde-button( data-disabled='true' )
      = article.get('published') ? 'Unpublish' : 'Publish'
  #edit-header-right
    a#edit-delete.avant-garde-button Delete
    a#edit-save.avant-garde-button Save #{article.stateName()}
    a#edit-preview.avant-garde-button(
      href="#{sd.FORCE_URL}/articles/#{article.get('id')}/#{article.get('slug')}"
    )
      if article.get('published')
        | View
      else
        | Preview