mixin featuredList(id, resource)
  ul.edit-admin-feature-list( id=id )
    li
      .loading-spinner-small
    li.eaf-input-li
      label
        input.bordered-input(
          class=['eaf', resource, 'input'].join('-')
          placeholder="Add an #{resource} by url or slug..."
        )

section#edit-admin.admin-form-container.max-width-container
  section#edit-admin-tier.admin-form-section
    .admin-form-left
      h1 Tier
      h2 Tier 1 articles get highlighted in the magazine section.
    .admin-form-right
      .admin-form-right-col
        label.flat-radio-button
          input( type='radio' name='tier' checked=article.get('tier') == 1
            value=1 )
          | Tier 1
      .admin-form-right-col
        label.flat-radio-button
          input( type='radio' name='tier' checked=article.get('tier') != 1
            value=2 )
          | Tier 2
  section#edit-admin-magazine.admin-form-section
    .admin-form-left
      h1 Magazine
      h2 Add this article to the main Magazine section of Artsy.
    .admin-form-right
      label.flat-checkbox
        input( type='checkbox' name= 'featured'
          checked=article.get('featured') == 1 value=1 )
  section#edit-admin-fair.admin-form-section
    .admin-form-left
      h1 Fair
      h2 Add this article to a fair&rsquo;s magazine and year round page.
    .admin-form-right
  section#edit-admin-partner.admin-form-section
    .admin-form-left
      h1 Partner
      h2 Add this article to a partner&rsquo;s profile page.
    .admin-form-right
  section#edit-admin-auction.admin-form-section
    .admin-form-left
      h1 Auction
      h2 Add this article to an auction&rsquo;s page.
    .admin-form-right
  section#edit-admin-vertical.admin-form-section
    .admin-form-left
      h1 Vertical
      h2 Add this article to a special editorial "vertical" (e.g. The Vennice Biennale 2015 coverage).
    .admin-form-right
  section#edit-admin-biography.admin-form-section
    .admin-form-left
      h1 Artist Biography
      h2 Indicate that this article is a biography for a specified artist.
    .admin-form-right
  section#edit-admin-shows.admin-form-section
    .admin-form-left
      h1 Shows
      h2 Select Partner Shows or Fair Booths for this article to appear on as a 'Related Article.''
    .admin-form-right
  section#edit-admin-feature.admin-form-section
    .admin-form-left
      h1 Artists & Artworks
      h2 Select artist and artwork pages for this article to appear highlighted on.
    .admin-form-right
      h3 Primary Artists
      +featuredList('eaf-primary-artists', 'artist')
      h3 Secondary Artists
      +featuredList('eaf-artists', 'artist')
      h3 Artworks
      +featuredList('eaf-artworks', 'artwork')
  section#edit-admin-slug.admin-form-section
    .admin-form-left
      h1 Slug
      h2 Change the url of this article to optimize SEO impact.
    .admin-form-right
      input.bordered-input.edit-admin-slug-input( placeholder='Enter slug for url...' value=article.get('slug') )
      a.edit-admin-slug-generate(href='/') Generate from title & author name
  section#edit-admin-tags.admin-form-section
    .admin-form-left
      h1 Keywords
      h2 Add SEO keywords for this article with each word separated by a comma (e.g. "Andy Warhol, Pop Art, Brillo Boxes")
    .admin-form-right
      input.bordered-input.edit-admin-tags-input( placeholder='Enter article keywords' value=article.get('tags') )
  section#edit-admin-publish-date.admin-form-section
    .admin-form-left
      h1 Publish Date
      h2 Change the date this article was published to reorder it in a Magazine view.
    .admin-form-right
      input.bordered-input.edit-admin-input-date
  section#edit-admin-change-author.admin-form-section
    .admin-form-left
      h1 Change Author
      h2 Changing the author of this article will move it to their Artsy Writer.
    .admin-form-right
      input.bordered-input( placeholder='Search by user name...' )
