mixin featuredList(id, resource)
  ul.edit-admin-feature-list( id=id )
    li
      .loading-spinner-small
    li.eaf-input-li
      label
        input.bordered-input(
          class=['eaf', resource, 'input'].join('-')
          placeholder="Add an #{resource} by url or slug..."
        )

section#edit-admin.admin-form-container.max-width-container

  //- Magazine
  section.admin-form-section
    .admin-form-left
      h1 Magazine
      h2 Feature this to the main magazine feed and choose tier 1 to make it stand out.
    .admin-form-right
      .admin-form-right-col
        label Featured
          .flat-checkbox
            input( type='checkbox' name= 'featured'
              checked=article.get('featured') == 1 value=1 )
      #edit-admin-tier.admin-form-right-col
        label Tier 1
          .flat-radio-button
            input(
              type='radio'
              name='tier'
              checked=article.get('tier') == 1
              value=1
            )
        label Tier 2
          .flat-radio-button
            input(
              type='radio'
              name='tier'
              checked=article.get('tier') != 1
              value=2
            )

  //- Featuring
  section.admin-form-section
    .admin-form-left
      h1 Featuring
      h2 Feature this article to selected pages or microsites to highlight it in various feeds and modules.
    .admin-form-right
      .admin-form-right-col
        label Fair
        #edit-admin-fair
        label Artist Biography
        #edit-admin-biography
        label Partners
        #edit-admin-partner
      .admin-form-right-col
        label Editorial Section
        #edit-admin-section
        label Show
        #edit-admin-shows
        label Auction
        #edit-admin-auction
      #edit-admin-feature
        label Primary Artists
        +featuredList('eaf-primary-artists', 'artist')
        label Secondary Artists
        +featuredList('eaf-artists', 'artist')
        label Artworks
        +featuredList('eaf-artworks', 'artwork')

  //- Authors
  section.admin-form-section
    .admin-form-left
      h1 Authors
      h2 Change the primary author to move this article in Writer or add contributing authors to expand bylines.
    .admin-form-right
      #edit-admin-change-author
        label Primary Author
        input.bordered-input( placeholder='Search by user name...' )
      br
      label Contributing Authors
        #edit-admin-contributing-authors

  //- Metadata
  section.admin-form-section
    .admin-form-left
      h1 Metadata
      h2 Fine-tuning tags and other metadata can increase SEO impact or help with tools like Parsely.
    .admin-form-right
      #edit-admin-tags
        label Tags
        input.bordered-input.edit-admin-tags-input( placeholder='Enter article keywords' value=article.get('tags') )
      br
      .admin-form-right-col
        #edit-admin-publish-date
          label Publish Date
          input.bordered-input.edit-admin-input-date
        #edit-admin-schedule-publish-time
          label Publish time
          //- Firefox + Safari don't currently support time input
          input.bordered-input.edit-admin-input-time( type='time', step=6000, placeholder='Publication time' )
        a#edit-schedule-button.avant-garde-button
      .admin-form-right-col
        #edit-admin-google-news
          label Exclude from Google News
          .flat-checkbox
            input( type='checkbox' name='exclude_google_news'
              checked=article.get('exclude_google_news') == 1 value=1 )

  //- Email
  section.admin-form-section#edit-email
    .admin-form-left
      h1 Email
      h2 Prepare this article for an email campaign.
    .admin-form-right.edit-email-form
      .admin-form-right-col
        label.edit-email-image
          span(
            data-hidden=article.get('email_metadata') && article.get('email_metadata').image_url ? 'true' : 'false'
          ) Image
          #edit-email-upload
        label Headline
          input.bordered-input( name='headline' value="#{article.getObjectAttribute('email_metadata', 'headline')}" )
        label Author
          input.bordered-input( name='author' value="#{article.getObjectAttribute('email_metadata','author')}")
        label Credit Line
          input.bordered-input( name='credit_line' value="#{article.getObjectAttribute('email_metadata','credit_line')}")
        label Credit URL
          input.bordered-input( name='credit_url' value="#{article.getObjectAttribute('email_metadata','credit_url')}")
      .admin-form-right-col
        label.edit-email-url URL
          input.bordered-input(
            value="http://artsy.net/article/#{article.get('slug')}"
            onClick="this.select();"
            readonly
          )
        label.edit-email-small-image-url Large
          input.bordered-input( onClick="this.select();" readonly )
        label.edit-email-large-image-url Small
          input.bordered-input( onClick="this.select();" readonly )

  //- Super Article
  section.admin-form-section#edit-super-article
    .admin-form-left
      h1 Super Article
      h2 Enable the Super Article functionality for special partnerships and features.
    .admin-form-right
      .admin-form-right-col
        label Enable
          .flat-checkbox
            input( type='checkbox' name='is_super_article'
              checked=article.get('is_super_article') == true value=true )
        label Partner Link Title
          input.bordered-input( name='partner_link_title' value="#{article.getObjectAttribute('super_article','partner_link_title')}" placeholder="Download the App")
        label Partner Link
          input.bordered-input( name='partner_link' value="#{article.getObjectAttribute('super_article', 'partner_link')}")
        label.edit-partner-logo
          span(
            data-hidden=article.get('super_article') && article.get('super_article').partner_logo ? 'true' : 'false'
          ) Partner Logo
          #edit-partner-logo-upload
        label Partner Logo Link
          input.bordered-input( name='partner_logo_link' value="#{article.getObjectAttribute('super_article', 'partner_logo_link')}")
        label.edit-partner-logo
          span(
            data-hidden=article.get('super_article') && article.get('super_article').secondary_partner_logo ? 'true' : 'false'
          ) Secondary Partner Logo
          #edit-secondary-partner-logo-upload
        label Secondary Logo Text
          input.bordered-input( name='secondary_logo_text' value="#{article.getObjectAttribute('super_article','secondary_logo_text')}" placeholder="In Partnership With")
        label Secondary Logo Link
          input.bordered-input( name='secondary_logo_link' value="#{article.getObjectAttribute('super_article','secondary_logo_link')}")
      .admin-form-right-col
        label Related Articles
        #edit-admin-related-articles
