#layout-sidebar-container
  nav#layout-sidebar
    a#layout-sidebar-home( href='/' )
      include ../public/icons/logo.svg
    if channel && channel.isEditorial()
      #layout-sidebar-new-article(
        class=(sd.URL == '/articles/new' ? 'is-active' : '')
      )
        include ../public/icons/layout_new_article.svg
        br
        | New Article
        nav.layout-sidebar-dropdown
          a( href='/articles/new?layout=standard' ) Standard Article
          a( href='/articles/new?layout=feature' ) Feature Article
          a( href='/articles/new?layout=series' ) Series Article
          a( href='/articles/new?layout=video' ) Video Article
          a( href='/articles/new?layout=news' ) News Article
    else
      a#layout-sidebar-new-article(
        class=(sd.URL == '/articles/new' ? 'is-active' : '')
        href='/articles/new?layout=classic'
      )
        include ../public/icons/layout_new_article.svg
        br
        | New Article
    a( href='/articles'
       class=(sd.URL == '/articles' ? 'is-active' : '') )
      include ../public/icons/layout_published.svg
      br
      | Articles
    if user.get('current_channel').type === 'editorial'
      a#layout-sidebar-queue( href='/queue'
         class=(sd.URL.match('/queue') ? 'is-active' : '') )
        include ../public/icons/layout_queue.svg
        br
        | Queue
    if user.get('type') == 'Admin'
      a#layout-sidebar-settings( href='/settings'
         class=(sd.URL.match('/settings') ? 'is-active' : '') )
        include ../public/icons/layout_settings.svg
        br
        | Settings
    #layout-sidebar-profile
      include ../public/icons/layout_person.svg
      br
      if user.get('name')
        = user.get('name').split(' ')[0]

      - var hasChannelMenu = (user.get('channel_ids') && user.get('channel_ids').length > 1) || (user.get('partner_ids') && user.get('partner_ids').length > 1) || user.isAdmin()
      nav.layout-sidebar-dropdown(
        class="#{ hasChannelMenu ? '' : 'has-only-child'}"
      )
        a( href='/logout' ) Sign out
        if hasChannelMenu
          a#layout-sidebar-switch-channel Switch channel
