include ../../components/paginated_list/index

mixin form-elements(items)
  each item in items
    label
      = _s.humanize(item.attr)
      case item.type
        when 'input'
          input.bordered-input( value=organization.get(item.attr) name=item.attr )
        when 'checkbox'
          .flat-checkbox
            input(
              checked=organization.get(item.attr) name=item.attr type='checkbox'
            )
        when 'date'
          input.bordered-input(
            value=moment(organization.get(item.attr)).format('MM/DD/YYYY')
            name=item.attr
          )
        when 'textarea'
          textarea.bordered-input(
            name=item.attr rows=4
          )=organization.get(item.attr)
        when 'image'
          .organizations-image-placeholder( data-name=item.attr )

extend ../../components/layout/templates/index

block header
  | Organizations

block content
  .max-width-container
    form.admin-form-container(
      action=(organization.isNew() ?  "/organizations" : "/organizations/#{organization.get('id')}")
      method='post'
    )
      section.admin-form-section
        .admin-form-left
          h1 Organization Details
          h2 General details that apply to all organizations.
        .admin-form-right
          .admin-form-right-col
            +form-elements([
              { attr: 'name', type: 'input' },
              { attr: 'slug', type: 'input' },
              { attr: 'icon_url', type: 'image' }
            ])

      button.avant-garde-button.avant-garde-button-black.organizations-save(
        type='submit' href="/organizations/new"
      ) Save Changes
      unless organization.isNew()
        a.avant-garde-button.organizations-delete Delete Organization
