include ../../components/admin_form/index
extend ../../components/layout/templates/index

mixin featured-link(i)
  - link = section.get('featured_links')[i]
  h3.admin-form-subheader Link #{i + 1}
  label
    | Thumbnail
    .admin-image-placeholder(
      data-name="featured_links[#{i}][thumbnail_url]" data-index=i )
  label
    | Title
    input.bordered-input(
      name="featured_links[#{i}][title]"
      value=link && link.title
    )
  label
    | URL
    input.bordered-input(
      name="featured_links[#{i}][url]"
      value=link && link.url
    )

block header
  | Sections

block content
  - model = section
  .max-width-container
    form.admin-form-container(
      action=(section.isNew() ?  "/sections" : "/sections/#{section.get('id')}")
      method='post'
    )
      section.admin-form-section
        .admin-form-left
          h1 Section Details
          h2 General details that apply to all sections.
        .admin-form-right
          .admin-form-right-col
            +form-elements([
              { attr: 'title', type: 'input' },
              { attr: 'meta_title', type: 'input' },
              { attr: 'slug', type: 'input' },
              { attr: 'description', type: 'textarea' }
            ])
          .admin-form-right-col
            +form-elements([
              { attr: 'thumbnail_url', type: 'image' }
            ])
      section.admin-form-section
        .admin-form-left
          h1 Featured Links
          h2 Sticky links that are called out in the sections's magazine feed and at the top of individual articles.
        .admin-form-right
          +form-elements([{ attr: 'featured_links_header', type: 'input' }])
          .admin-form-right-col
            +featured-link(0)
            +featured-link(1)
          .admin-form-right-col
            +featured-link(2)
            +featured-link(3)
      section.admin-form-section
        .admin-form-left
          h1 Featured on Magazine
          h2 Sections can be called out on the main magazine page with a banner that runs for a specified time.
        .admin-form-right
          .admin-form-right-col
            +form-elements([
              { attr: 'featured', type: 'checkbox' },
              { attr: 'start_at', type: 'date' },
              { attr: 'end_at', type: 'date' }
            ])
      section.admin-form-section
        .admin-form-left
          h1 Partner
          h2 If this section is in partnership with someone external (like the Venice Biennale + UBS partnership).
        .admin-form-right
          .admin-form-right-col
            +form-elements([
              { attr: 'partner_logo_url', type: 'image' },
              { attr: 'partner_website_url', type: 'input' },
              { attr: 'slogan', type: 'input' }
            ])
      button.avant-garde-button.avant-garde-button-black.admin-form-save(
        type='submit' href="/sections/new"
      ) Save Changes
      unless section.isNew()
        a.avant-garde-button.admin-form-delete Delete Section
