section#edit-thumbnail
  header
    h1 Prepare your article for Artsy and social media
    h2 Choose a thumbnail image and title that captures the user&rsquo;s attention
    img( src='/images/edit_prepare_example.png')
  form#edit-thumbnail-inputs
    #edit-thumbnail-inputs-left
      include form
    #edit-thumbnail-inputs-right
      label#edit-thumbnail-title
        span.edit-required Title
        a.edit-use-article-title( href='#' ) Use article title
        textarea.bordered-input.edit-title-textarea(
          placeholder="Type a title that captures your reader's attention"
        )= article.get('thumbnail_title')
  if user.get('type') == 'Admin'
    section#edit-email
      h1.edit-email-header Email
      h2.edit-email-sub-header Prepare this article for an email campaign
      .edit-email-form
        label.edit-email-image
          span(
            data-hidden=article.get('email_metadata') && article.get('email_metadata').image_url ? 'true' : 'false'
          ) Image
          #edit-email-upload
        label
          span Headline
          input.bordered-input.edit-email-text( name='headline' value="#{article.get('email_metadata') && article.get('email_metadata').headline ? article.get('email_metadata').headline : ''}" )
        label
          span Author
        label
          input.bordered-input.edit-email-text( name='author' value="#{article.get('email_metadata') && article.get('email_metadata').author ? article.get('email_metadata').author : ''}")
          span Credit Line
          input.bordered-input.edit-email-text( name='credit_line' value="#{article.get('email_metadata') && article.get('email_metadata').credit_line ? article.get('email_metadata').credit_line : ''}")
        label
          span Credit URL
          input.bordered-input.edit-email-text( name='credit_url' value="#{article.get('email_metadata') && article.get('email_metadata').headline ? article.get('email_metadata').credit_url : ''}")
        .edit-email-url URL
          span  http://artsy.net/articles/#{article.get('slug')}
        .edit-email-url.edit-email-small-image-url
        .edit-email-url.edit-email-large-image-url
