section#edit-content
  #edit-title
    .edit-required
    textarea.invisible-input(
      placeholder='Type a title'
      value=article.get('title')
    )
  #edit-lead-paragraph.edit-body-container(
    contenteditable=true
  )!= article.get('lead_paragraph')
  #edit-author-section
    p= user.get('name')
    p Staff Writer
    p= moment(article.get('created_at') || moment()).format('MMM D, YYYY h:mm a')
  .edit-body-container
  #edit-sections.edit-body-container